openapi: 3.2.0
info:
  title: Apiable Platform Plans API
  description: '## Introduction


    The Apiable Platform API is a RESTful API that allows you to manage your portal, teams, users, and subscriptions.'
  contact:
    name: Apiable Team
    url: https://apiable.io
    email: support@apiable.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: v2
servers:
- url: https://developer.apiable.io
tags:
- name: Plans
  description: Plans are a way to group APIs and their documentation.
paths:
  /api/plans/{id}/docs:
    get:
      tags:
      - Plans
      summary: Get the plan-level docs of the plan specified by the plan id
      description: This endpoint will return the plan-level docs of the specified plan
      operationId: getDocsOfPlanById_1
      parameters:
      - name: id
        in: path
        description: The plan id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      responses:
        '200':
          description: A list of plan-leve documentation for the specified plan
          content:
            application/json:
              schema:
                type: array
                items:
                  description: The documentation version for a plan.
                  properties:
                    id:
                      type: string
                    order:
                      type: integer
                      format: int32
                      description: The order of the documentation in the list of documentation for the plan.
                    version:
                      type: string
                      description: The version of the documentation.
                    status:
                      type: array
                      description: The status of the documentation.
                      items:
                        type: string
                        description: The status of the documentation.
                    active:
                      type: boolean
                      description: Flag to indicate if the documentation is active.
                    visible:
                      type: boolean
                      description: The visibility of the documentation.
                    retrievalType:
                      type: string
                      description: The retrieval type of the documentation.
                      enum:
                      - MANUAL
                      - GATEWAY
                      - CICD
                      - CATALOG
                    url:
                      type: string
                      description: The URL of the documentation.
                    name:
                      type: string
                      description: The name of the documentation.
                    synced:
                      type: string
                      format: date-time
                      description: Timestamp of the last time the documentation was synchronized.
                    sdks:
                      type: array
                      description: List of SDKs associated with this documentation version.
                      items:
                        description: SDK information for a documentation version.
                        properties:
                          language:
                            type: string
                            description: The programming language of the SDK.
                          downloadUrl:
                            type: string
                            description: The download URL of the SDK.
                          visibility:
                            type: string
                            description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                            enum:
                            - PUBLIC
                            - PRIVATE
                            - SUBSCRIBERS
                    catalogApi:
                      type: string
                    planId:
                      type: string
                      readOnly: true
                    planDocLevel:
                      type: string
                      description: Documentation level of the documentation.
                      enum:
                      - PLAN
                      - API
                      - CUSTOM
                      readOnly: true
                    apiIntegrationId:
                      type: string
                      description: Reference to the API if the documentation is bound to an API object.
                      readOnly: true
                    custom:
                      type: boolean
              example:
              - id: 66f3c2be7903d41208214a7d
                order: 0
                version: '2.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                planId: 66f174095cc1da3963b9a1d7
                planDocLevel: PLAN
                apiIntegrationId: cl4z2nr4p8
        '401':
          description: 'Unauthorized for operation: getDocsOfPlanById'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
    post:
      tags:
      - Plans
      summary: Create the plan-level doc to the plan
      description: This endpoint will create the plan-level doc of the specified plan
      operationId: createDocByPlanIntegrationId_1
      parameters:
      - name: id
        in: path
        description: The plan id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      requestBody:
        description: The API documentation version to be created for the plan.
        content:
          application/json:
            schema:
              description: The documentation version for a plan.
              properties:
                id:
                  type: string
                order:
                  type: integer
                  format: int32
                  description: The order of the documentation in the list of documentation for the plan.
                version:
                  type: string
                  description: The version of the documentation.
                status:
                  type: array
                  description: The status of the documentation.
                  items:
                    type: string
                    description: The status of the documentation.
                active:
                  type: boolean
                  description: Flag to indicate if the documentation is active.
                visible:
                  type: boolean
                  description: The visibility of the documentation.
                retrievalType:
                  type: string
                  description: The retrieval type of the documentation.
                  enum:
                  - MANUAL
                  - GATEWAY
                  - CICD
                  - CATALOG
                url:
                  type: string
                  description: The URL of the documentation.
                name:
                  type: string
                  description: The name of the documentation.
                synced:
                  type: string
                  format: date-time
                  description: Timestamp of the last time the documentation was synchronized.
                sdks:
                  type: array
                  description: List of SDKs associated with this documentation version.
                  items:
                    description: SDK information for a documentation version.
                    properties:
                      language:
                        type: string
                        description: The programming language of the SDK.
                      downloadUrl:
                        type: string
                        description: The download URL of the SDK.
                      visibility:
                        type: string
                        description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                        enum:
                        - PUBLIC
                        - PRIVATE
                        - SUBSCRIBERS
                catalogApi:
                  type: string
                planId:
                  type: string
                  readOnly: true
                planDocLevel:
                  type: string
                  description: Documentation level of the documentation.
                  enum:
                  - PLAN
                  - API
                  - CUSTOM
                  readOnly: true
                apiIntegrationId:
                  type: string
                  description: Reference to the API if the documentation is bound to an API object.
                  readOnly: true
                custom:
                  type: boolean
            examples:
              Example API documentation creation:
                description: API documentation version to be created for the specified plan.
                value:
                  order: 0
                  version: '2.0'
                  status: []
                  active: true
                  visible: true
                  retrievalType: GATEWAY
                  url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                  name: Jokes (Cognito) - prod-202481-v-1.0.json
                  planId: 66f174095cc1da3963b9a1d7
                  planDocLevel: API
                  apiIntegrationId: cl4z2nr4p8
        required: true
      responses:
        '200':
          description: The created documentation for the specified plan
          content:
            application/json:
              schema:
                description: The documentation version for a plan.
                properties:
                  id:
                    type: string
                  order:
                    type: integer
                    format: int32
                    description: The order of the documentation in the list of documentation for the plan.
                  version:
                    type: string
                    description: The version of the documentation.
                  status:
                    type: array
                    description: The status of the documentation.
                    items:
                      type: string
                      description: The status of the documentation.
                  active:
                    type: boolean
                    description: Flag to indicate if the documentation is active.
                  visible:
                    type: boolean
                    description: The visibility of the documentation.
                  retrievalType:
                    type: string
                    description: The retrieval type of the documentation.
                    enum:
                    - MANUAL
                    - GATEWAY
                    - CICD
                    - CATALOG
                  url:
                    type: string
                    description: The URL of the documentation.
                  name:
                    type: string
                    description: The name of the documentation.
                  synced:
                    type: string
                    format: date-time
                    description: Timestamp of the last time the documentation was synchronized.
                  sdks:
                    type: array
                    description: List of SDKs associated with this documentation version.
                    items:
                      description: SDK information for a documentation version.
                      properties:
                        language:
                          type: string
                          description: The programming language of the SDK.
                        downloadUrl:
                          type: string
                          description: The download URL of the SDK.
                        visibility:
                          type: string
                          description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                          enum:
                          - PUBLIC
                          - PRIVATE
                          - SUBSCRIBERS
                  catalogApi:
                    type: string
                  planId:
                    type: string
                    readOnly: true
                  planDocLevel:
                    type: string
                    description: Documentation level of the documentation.
                    enum:
                    - PLAN
                    - API
                    - CUSTOM
                    readOnly: true
                  apiIntegrationId:
                    type: string
                    description: Reference to the API if the documentation is bound to an API object.
                    readOnly: true
                  custom:
                    type: boolean
              example:
                id: 66f172d43ee464553f9fe898
                order: 0
                version: '1.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazingDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                synced: '2024-09-23T13:58:22.665'
        '401':
          description: 'Unauthorized for operation: createDocByPlanIntegrationId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
  /api/plans/{id}/apis/{integrationId}/docs:
    get:
      tags:
      - Plans
      summary: Get the api-level docs of all apis specified by the API integrationId in the…
      description: This endpoint will return the api-level docs of the specified api in the plan
      operationId: getDocsOfApiByIntegrationIdAndPlanId_1
      parameters:
      - name: id
        in: path
        description: The plan id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: integrationId
        in: path
        description: The API integrationId
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      responses:
        '200':
          description: A list of api-level documentation for the specified APIs in the plan
          content:
            application/json:
              schema:
                type: array
                items:
                  description: The documentation version for a plan.
                  properties:
                    id:
                      type: string
                    order:
                      type: integer
                      format: int32
                      description: The order of the documentation in the list of documentation for the plan.
                    version:
                      type: string
                      description: The version of the documentation.
                    status:
                      type: array
                      description: The status of the documentation.
                      items:
                        type: string
                        description: The status of the documentation.
                    active:
                      type: boolean
                      description: Flag to indicate if the documentation is active.
                    visible:
                      type: boolean
                      description: The visibility of the documentation.
                    retrievalType:
                      type: string
                      description: The retrieval type of the documentation.
                      enum:
                      - MANUAL
                      - GATEWAY
                      - CICD
                      - CATALOG
                    url:
                      type: string
                      description: The URL of the documentation.
                    name:
                      type: string
                      description: The name of the documentation.
                    synced:
                      type: string
                      format: date-time
                      description: Timestamp of the last time the documentation was synchronized.
                    sdks:
                      type: array
                      description: List of SDKs associated with this documentation version.
                      items:
                        description: SDK information for a documentation version.
                        properties:
                          language:
                            type: string
                            description: The programming language of the SDK.
                          downloadUrl:
                            type: string
                            description: The download URL of the SDK.
                          visibility:
                            type: string
                            description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                            enum:
                            - PUBLIC
                            - PRIVATE
                            - SUBSCRIBERS
                    catalogApi:
                      type: string
                    planId:
                      type: string
                      readOnly: true
                    planDocLevel:
                      type: string
                      description: Documentation level of the documentation.
                      enum:
                      - PLAN
                      - API
                      - CUSTOM
                      readOnly: true
                    apiIntegrationId:
                      type: string
                      description: Reference to the API if the documentation is bound to an API object.
                      readOnly: true
                    custom:
                      type: boolean
              example:
              - id: 66f3c2be7903d41208214a7d
                order: 0
                version: '2.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                planId: 66f174095cc1da3963b9a1d7
                planDocLevel: PLAN
                apiIntegrationId: cl4z2nr4p8
        '401':
          description: 'Unauthorized for operation: getDocsOfApiByIntegrationIdAndPlanId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
    post:
      tags:
      - Plans
      summary: Create the api-level doc to all apis specified by the API integrationId in the…
      description: This endpoint will create the api-level doc of the specified api in the plan
      operationId: createDocByPlanIdAndApiIntegrationId_1
      parameters:
      - name: id
        in: path
        description: The plan id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: integrationId
        in: path
        description: The API integrationId
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      requestBody:
        description: The API documentation version to be created for the plan.
        content:
          application/json:
            schema:
              description: The documentation version for a plan.
              properties:
                id:
                  type: string
                order:
                  type: integer
                  format: int32
                  description: The order of the documentation in the list of documentation for the plan.
                version:
                  type: string
                  description: The version of the documentation.
                status:
                  type: array
                  description: The status of the documentation.
                  items:
                    type: string
                    description: The status of the documentation.
                active:
                  type: boolean
                  description: Flag to indicate if the documentation is active.
                visible:
                  type: boolean
                  description: The visibility of the documentation.
                retrievalType:
                  type: string
                  description: The retrieval type of the documentation.
                  enum:
                  - MANUAL
                  - GATEWAY
                  - CICD
                  - CATALOG
                url:
                  type: string
                  description: The URL of the documentation.
                name:
                  type: string
                  description: The name of the documentation.
                synced:
                  type: string
                  format: date-time
                  description: Timestamp of the last time the documentation was synchronized.
                sdks:
                  type: array
                  description: List of SDKs associated with this documentation version.
                  items:
                    description: SDK information for a documentation version.
                    properties:
                      language:
                        type: string
                        description: The programming language of the SDK.
                      downloadUrl:
                        type: string
                        description: The download URL of the SDK.
                      visibility:
                        type: string
                        description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                        enum:
                        - PUBLIC
                        - PRIVATE
                        - SUBSCRIBERS
                catalogApi:
                  type: string
                planId:
                  type: string
                  readOnly: true
                planDocLevel:
                  type: string
                  description: Documentation level of the documentation.
                  enum:
                  - PLAN
                  - API
                  - CUSTOM
                  readOnly: true
                apiIntegrationId:
                  type: string
                  description: Reference to the API if the documentation is bound to an API object.
                  readOnly: true
                custom:
                  type: boolean
            examples:
              Example API documentation creation:
                description: API documentation version to be created for the specified plan.
                value:
                  order: 0
                  version: '2.0'
                  status: []
                  active: true
                  visible: true
                  retrievalType: GATEWAY
                  url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                  name: Jokes (Cognito) - prod-202481-v-1.0.json
                  planId: 66f174095cc1da3963b9a1d7
                  planDocLevel: API
                  apiIntegrationId: cl4z2nr4p8
        required: true
      responses:
        '200':
          description: The created documentation for the specified APIs in the plan
          content:
            application/json:
              schema:
                description: Details of a plan including documentation.
                properties:
                  id:
                    type: string
                  documentationLevel:
                    type: string
                    enum:
                    - PLAN
                    - API
                    - CUSTOM
                  documentationPublic:
                    type: boolean
                  planLevelDocs:
                    type: array
                    items:
                      description: The documentation version for a plan.
                      properties:
                        id:
                          type: string
                        order:
                          type: integer
                          format: int32
                          description: The order of the documentation in the list of documentation for the plan.
                        version:
                          type: string
                          description: The version of the documentation.
                        status:
                          type: array
                          description: The status of the documentation.
                          items:
                            type: string
                            description: The status of the documentation.
                        active:
                          type: boolean
                          description: Flag to indicate if the documentation is active.
                        visible:
                          type: boolean
                          description: The visibility of the documentation.
                        retrievalType:
                          type: string
                          description: The retrieval type of the documentation.
                          enum:
                          - MANUAL
                          - GATEWAY
                          - CICD
                          - CATALOG
                        url:
                          type: string
                          description: The URL of the documentation.
                        name:
                          type: string
                          description: The name of the documentation.
                        synced:
                          type: string
                          format: date-time
                          description: Timestamp of the last time the documentation was synchronized.
                        sdks:
                          type: array
                          description: List of SDKs associated with this documentation version.
                          items:
                            description: SDK information for a documentation version.
                            properties:
                              language:
                                type: string
                                description: The programming language of the SDK.
                              downloadUrl:
                                type: string
                                description: The download URL of the SDK.
                              visibility:
                                type: string
                                description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                                enum:
                                - PUBLIC
                                - PRIVATE
                                - SUBSCRIBERS
                        catalogApi:
                          type: string
                        planId:
                          type: string
                          readOnly: true
                        planDocLevel:
                          type: string
                          description: Documentation level of the documentation.
                          enum:
                          - PLAN
                          - API
                          - CUSTOM
                          readOnly: true
                        apiIntegrationId:
                          type: string
                          description: Reference to the API if the documentation is bound to an API object.
                          readOnly: true
                        custom:
                          type: boolean
                  apiLevelDocs:
                    type: array
                    items:
                      description: The documentation version for a plan.
                      properties:
                        id:
                          type: string
                        order:
                          type: integer
                          format: int32
                          description: The order of the documentation in the list of documentation for the plan.
                        version:
                          type: string
                          description: The version of the documentation.
                        status:
                          type: array
                          description: The status of the documentation.
                          items:
                            type: string
                            description: The status of the documentation.
                        active:
                          type: boolean
                          description: Flag to indicate if the documentation is active.
                        visible:
                          type: boolean
                          description: The visibility of the documentation.
                        retrievalType:
                          type: string
                          description: The retrieval type of the documentation.
                          enum:
                          - MANUAL
                          - GATEWAY
                          - CICD
                          - CATALOG
                        url:
                          type: string
                          description: The URL of the documentation.
                        name:
                          type: string
                          description: The name of the documentation.
                        synced:
                          type: string
                          format: date-time
                          description: Timestamp of the last time the documentation was synchronized.
                        sdks:
                          type: array
                          description: List of SDKs associated with this documentation version.
                          items:
                            description: SDK information for a documentation version.
                            properties:
                              language:
                                type: string
                                description: The programming language of the SDK.
                              downloadUrl:
                                type: string
                                description: The download URL of the SDK.
                              visibility:
                                type: string
                                description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                                enum:
                                - PUBLIC
                                - PRIVATE
                                - SUBSCRIBERS
                        catalogApi:
                          type: string
                        planId:
                          type: string
                          readOnly: true
                        planDocLevel:
                          type: string
                          description: Documentation level of the documentation.
                          enum:
                          - PLAN
                          - API
                          - CUSTOM
                          readOnly: true
                        apiIntegrationId:
                          type: string
                          description: Reference to the API if the documentation is bound to an API object.
                          readOnly: true
                        custom:
                          type: boolean
              example:
                id: 66f3c2be7903d41208214a7d
                order: 0
                version: '2.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                planId: 66f174095cc1da3963b9a1d7
                planDocLevel: PLAN
                apiIntegrationId: cl4z2nr4p8
        '401':
          description: 'Unauthorized for operation: createDocByPlanIdAndApiIntegrationId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
  /api/plans/apis/{integrationId}/docs:
    get:
      tags:
      - Plans
      summary: Get the api-level docs of all apis specified by the API integrationId of all…
      description: This endpoint will return the api-level docs of the specified api across all plans
      operationId: getDocsOfApiByIntegrationId_1
      parameters:
      - name: integrationId
        in: path
        description: The documentation id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      responses:
        '200':
          description: A list of api-level documentation for the specified APIs across all plans
          content:
            application/json:
              schema:
                type: array
                items:
                  description: The documentation version for a plan.
                  properties:
                    id:
                      type: string
                    order:
                      type: integer
                      format: int32
                      description: The order of the documentation in the list of documentation for the plan.
                    version:
                      type: string
                      description: The version of the documentation.
                    status:
                      type: array
                      description: The status of the documentation.
                      items:
                        type: string
                        description: The status of the documentation.
                    active:
                      type: boolean
                      description: Flag to indicate if the documentation is active.
                    visible:
                      type: boolean
                      description: The visibility of the documentation.
                    retrievalType:
                      type: string
                      description: The retrieval type of the documentation.
                      enum:
                      - MANUAL
                      - GATEWAY
                      - CICD
                      - CATALOG
                    url:
                      type: string
                      description: The URL of the documentation.
                    name:
                      type: string
                      description: The name of the documentation.
                    synced:
                      type: string
                      format: date-time
                      description: Timestamp of the last time the documentation was synchronized.
                    sdks:
                      type: array
                      description: List of SDKs associated with this documentation version.
                      items:
                        description: SDK information for a documentation version.
                        properties:
                          language:
                            type: string
                            description: The programming language of the SDK.
                          downloadUrl:
                            type: string
                            description: The download URL of the SDK.
                          visibility:
                            type: string
                            description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                            enum:
                            - PUBLIC
                            - PRIVATE
                            - SUBSCRIBERS
                    catalogApi:
                      type: string
                    planId:
                      type: string
                      readOnly: true
                    planDocLevel:
                      type: string
                      description: Documentation level of the documentation.
                      enum:
                      - PLAN
                      - API
                      - CUSTOM
                      readOnly: true
                    apiIntegrationId:
                      type: string
                      description: Reference to the API if the documentation is bound to an API object.
                      readOnly: true
                    custom:
                      type: boolean
              example:
              - id: 66f3c2be7903d41208214a7d
                order: 0
                version: '2.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                planId: 66f174095cc1da3963b9a1d7
                planDocLevel: PLAN
                apiIntegrationId: cl4z2nr4p8
        '401':
          description: 'Unauthorized for operation: getDocsOfApiByIntegrationId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
    post:
      tags:
      - Plans
      summary: Create the api-level doc to all apis specified by the API integrationId
      description: This endpoint will create the api-level doc of the specified api across all plans
      operationId: createDocByApiIntegrationId_1
      parameters:
      - name: integrationId
        in: path
        description: The API integrationId
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      requestBody:
        description: The API documentation version to be created for the plan.
        content:
          application/json:
            schema:
              description: The documentation version for a plan.
              properties:
                id:
                  type: string
                order:
                  type: integer
                  format: int32
                  description: The order of the documentation in the list of documentation for the plan.
                version:
                  type: string
                  description: The version of the documentation.
                status:
                  type: array
                  description: The status of the documentation.
                  items:
                    type: string
                    description: The status of the documentation.
                active:
                  type: boolean
                  description: Flag to indicate if the documentation is active.
                visible:
                  type: boolean
                  description: The visibility of the documentation.
                retrievalType:
                  type: string
                  description: The retrieval type of the documentation.
                  enum:
                  - MANUAL
                  - GATEWAY
                  - CICD
                  - CATALOG
                url:
                  type: string
                  description: The URL of the documentation.
                name:
                  type: string
                  description: The name of the documentation.
                synced:
                  type: string
                  format: date-time
                  description: Timestamp of the last time the documentation was synchronized.
                sdks:
                  type: array
                  description: List of SDKs associated with this documentation version.
                  items:
                    description: SDK information for a documentation version.
                    properties:
                      language:
                        type: string
                        description: The programming language of the SDK.
                      downloadUrl:
                        type: string
                        description: The download URL of the SDK.
                      visibility:
                        type: string
                        description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                        enum:
                        - PUBLIC
                        - PRIVATE
                        - SUBSCRIBERS
                catalogApi:
                  type: string
                planId:
                  type: string
                  readOnly: true
                planDocLevel:
                  type: string
                  description: Documentation level of the documentation.
                  enum:
                  - PLAN
                  - API
                  - CUSTOM
                  readOnly: true
                apiIntegrationId:
                  type: string
                  description: Reference to the API if the documentation is bound to an API object.
                  readOnly: true
                custom:
                  type: boolean
            examples:
              Example API documentation creation:
                description: API documentation version to be created for the specified plan.
                value:
                  order: 0
                  version: '2.0'
                  status: []
                  active: true
                  visible: true
                  retrievalType: GATEWAY
                  url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                  name: Jokes (Cognito) - prod-202481-v-1.0.json
                  planId: 66f174095cc1da3963b9a1d7
                  planDocLevel: API
                  apiIntegrationId: cl4z2nr4p8
        required: true
      responses:
        '200':
          description: The created documentation for the specified APIs across all plans
          content:
            application/json:
              schema:
                type: array
                items:
                  description: The documentation version for a plan.
                  properties:
                    id:
                      type: string
                    order:
                      type: integer
                      format: int32
                      description: The order of the documentation in the list of documentation for the plan.
                    version:
                      type: string
                      description: The version of the documentation.
                    status:
                      type: array
                      description: The status of the documentation.
                      items:
                        type: string
                        description: The status of the documentation.
                    active:
                      type: boolean
                      description: Flag to indicate if the documentation is active.
                    visible:
                      type: boolean
                      description: The visibility of the documentation.
                    retrievalType:
                      type: string
                      description: The retrieval type of the documentation.
                      enum:
                      - MANUAL
                      - GATEWAY
                      - CICD
                      - CATALOG
                    url:
                      type: string
                      description: The URL of the documentation.
                    name:
                      type: string
                      description: The name of the documentation.
                    synced:
                      type: string
                      format: date-time
                      description: Timestamp of the last time the documentation was synchronized.
                    sdks:
                      type: array
                      description: List of SDKs associated with this documentation version.
                      items:
                        description: SDK information for a documentation version.
                        properties:
                          language:
                            type: string
                            description: The programming language of the SDK.
                          downloadUrl:
                            type: string
                            description: The download URL of the SDK.
                          visibility:
                            type: string
                            description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                            enum:
                            - PUBLIC
                            - PRIVATE
                            - SUBSCRIBERS
                    catalogApi:
                      type: string
                    planId:
                      type: string
                      readOnly: true
                    planDocLevel:
                      type: string
                      description: Documentation level of the documentation.
                      enum:
                      - PLAN
                      - API
                      - CUSTOM
                      readOnly: true
                    apiIntegrationId:
                      type: string
                      description: Reference to the API if the documentation is bound to an API object.
                      readOnly: true
                    custom:
                      type: boolean
              example:
              - id: 66f3c2be7903d41208214a7d
                order: 0
                version: '2.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                planId: 66f174095cc1da3963b9a1d7
                planDocLevel: PLAN
                apiIntegrationId: cl4z2nr4p8
        '401':
          description: 'Unauthorized for operation: createDocByApiIntegrationId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
  /api/plans/{id}/docs/{docId}:
    get:
      tags:
      - Plans
      summary: Get the plan-level doc of the plan specified by the plan id
      description: This endpoint will return the plan-level doc of the specified plan
      operationId: getDocOfPlanById_1
      parameters:
      - name: id
        in: path
        description: The plan id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: docId
        in: path
        description: The documentation id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      responses:
        '200':
          description: The specified plan-level documentation for the specified plan
          content:
            application/json:
              schema:
                description: The documentation version for a plan.
                properties:
                  id:
                    type: string
                  order:
                    type: integer
                    format: int32
                    description: The order of the documentation in the list of documentation for the plan.
                  version:
                    type: string
                    description: The version of the documentation.
                  status:
                    type: array
                    description: The status of the documentation.
                    items:
                      type: string
                      description: The status of the documentation.
                  active:
                    type: boolean
                    description: Flag to indicate if the documentation is active.
                  visible:
                    type: boolean
                    description: The visibility of the documentation.
                  retrievalType:
                    type: string
                    description: The retrieval type of the documentation.
                    enum:
                    - MANUAL
                    - GATEWAY
                    - CICD
                    - CATALOG
                  url:
                    type: string
                    description: The URL of the documentation.
                  name:
                    type: string
                    description: The name of the documentation.
                  synced:
                    type: string
                    format: date-time
                    description: Timestamp of the last time the documentation was synchronized.
                  sdks:
                    type: array
                    description: List of SDKs associated with this documentation version.
                    items:
                      description: SDK information for a documentation version.
                      properties:
                        language:
                          type: string
                          description: The programming language of the SDK.
                        downloadUrl:
                          type: string
                          description: The download URL of the SDK.
                        visibility:
                          type: string
                          description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                          enum:
                          - PUBLIC
                          - PRIVATE
                          - SUBSCRIBERS
                  catalogApi:
                    type: string
                  planId:
                    type: string
                    readOnly: true
                  planDocLevel:
                    type: string
                    description: Documentation level of the documentation.
                    enum:
                    - PLAN
                    - API
                    - CUSTOM
                    readOnly: true
                  apiIntegrationId:
                    type: string
                    description: Reference to the API if the documentation is bound to an API object.
                    readOnly: true
                  custom:
                    type: boolean
              example:
                id: 66f172d43ee464553f9fe898
                order: 0
                version: '1.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazingDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                synced: '2024-09-23T13:58:22.665'
        '401':
          description: 'Unauthorized for operation: getDocOfPlanById'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
    delete:
      tags:
      - Plans
      summary: Delete a plan level documentation from a plan
      description: Delete a specific plan level documentation by its ID from the plan. This endpoint allows you to remove a documentation version that is associated with the plan.
      operationId: deletePlanDocumentationByPlanId
      parameters:
      - name: id
        in: path
        description: The id of the plan from which the documentation will be deleted.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 6268ec80a098ed05f047f278
      - name: docId
        in: path
        description: The id of the documentation to be deleted.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 66f174095cc1da3963b9a1d7
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
      responses:
        '204':
          description: 'No Content: Successfully deleted the plan documentation.'
          content:
            application/json:
              schema:
                type: string
              examples:
                Success:
                  description: Confirmation message when the plan documentation is successfully deleted.
                  value: Plan documentation deleted successfully
        '401':
          description: 'Unauthorized for operation: deletePlanDocumentationByPlanId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
        '404':
          description: 'Not Found: The requested plan or documentation does not exist.'
          content:
            application/json:
              schema:
                type: string
              examples:
                NotFound:
                  description: Error message when the plan or documentation with the given ID is not found.
                  value: Plan or Documentation not found
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
    patch:
      tags:
      - Plans
      summary: Patch the plan-level doc
      description: The supported operation is replace, and the supported paths are url, version, name
      operationId: patchDocByPlanId_1
      parameters:
      - name: id
        in: path
        description: The plan id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: docId
        in: path
        description: The documentation id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      requestBody:
        description: 'Request body for operation: patchDocByPlanId_1.'
        content:
          application/json:
            schema:
              type: array
              description: The patch body
              items:
                description: Patch object for JSON Patch
                properties:
                  op:
                    type: string
                    description: Supported patch operations
                    enum:
                    - replace
                  path:
                    type: string
                    description: Path to the field to be patched
                  value:
                    type: string
                    description: Value to be patched
            examples:
              Patch Example:
                description: Example of a patch operation to update the documentation name.
                value:
                - op: replace
                  path: /name
                  value: new doc name
        required: true
      responses:
        '200':
          description: The updated documentation
          content:
            application/json:
              schema:
                description: The documentation version for a plan.
                properties:
                  id:
                    type: string
                  order:
                    type: integer
                    format: int32
                    description: The order of the documentation in the list of documentation for the plan.
                  version:
                    type: string
                    description: The version of the documentation.
                  status:
                    type: array
                    description: The status of the documentation.
                    items:
                      type: string
                      description: The status of the documentation.
                  active:
                    type: boolean
                    description: Flag to indicate if the documentation is active.
                  visible:
                    type: boolean
                    description: The visibility of the documentation.
                  retrievalType:
                    type: string
                    description: The retrieval type of the documentation.
                    enum:
                    - MANUAL
                    - GATEWAY
                    - CICD
                    - CATALOG
                  url:
                    type: string
                    description: The URL of the documentation.
                  name:
                    type: string
                    description: The name of the documentation.
                  synced:
                    type: string
                    format: date-time
                    description: Timestamp of the last time the documentation was synchronized.
                  sdks:
                    type: array
                    description: List of SDKs associated with this documentation version.
                    items:
                      description: SDK information for a documentation version.
                      properties:
                        language:
                          type: string
                          description: The programming language of the SDK.
                        downloadUrl:
                          type: string
                          description: The download URL of the SDK.
                        visibility:
                          type: string
                          description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                          enum:
                          - PUBLIC
                          - PRIVATE
                          - SUBSCRIBERS
                  catalogApi:
                    type: string
                  planId:
                    type: string
                    readOnly: true
                  planDocLevel:
                    type: string
                    description: Documentation level of the documentation.
                    enum:
                    - PLAN
                    - API
                    - CUSTOM
                    readOnly: true
                  apiIntegrationId:
                    type: string
                    description: Reference to the API if the documentation is bound to an API object.
                    readOnly: true
                  custom:
                    type: boolean
              example:
                id: 66f172d43ee464553f9fe898
                order: 0
                version: '1.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazingDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                synced: '2024-09-23T13:58:22.665'
        '401':
          description: 'Unauthorized for operation: patchDocByPlanId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
  /api/plans/{id}/apis/{integrationId}/docs/{docId}:
    get:
      tags:
      - Plans
      summary: Get the api-level doc of all apis specified by the API integrationId
      description: This endpoint will return the api-level doc of the specified api in the plan
      operationId: getDocOfApiByIntegrationIdAndPlanId_1
      parameters:
      - name: id
        in: path
        description: The plan id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: integrationId
        in: path
        description: The API integrationId
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: docId
        in: path
        description: The documentation id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      responses:
        '200':
          description: The specified documentation for the specified APIs in the plan
          content:
            application/json:
              schema:
                description: The documentation version for a plan.
                properties:
                  id:
                    type: string
                  order:
                    type: integer
                    format: int32
                    description: The order of the documentation in the list of documentation for the plan.
                  version:
                    type: string
                    description: The version of the documentation.
                  status:
                    type: array
                    description: The status of the documentation.
                    items:
                      type: string
                      description: The status of the documentation.
                  active:
                    type: boolean
                    description: Flag to indicate if the documentation is active.
                  visible:
                    type: boolean
                    description: The visibility of the documentation.
                  retrievalType:
                    type: string
                    description: The retrieval type of the documentation.
                    enum:
                    - MANUAL
                    - GATEWAY
                    - CICD
                    - CATALOG
                  url:
                    type: string
                    description: The URL of the documentation.
                  name:
                    type: string
                    description: The name of the documentation.
                  synced:
                    type: string
                    format: date-time
                    description: Timestamp of the last time the documentation was synchronized.
                  sdks:
                    type: array
                    description: List of SDKs associated with this documentation version.
                    items:
                      description: SDK information for a documentation version.
                      properties:
                        language:
                          type: string
                          description: The programming language of the SDK.
                        downloadUrl:
                          type: string
                          description: The download URL of the SDK.
                        visibility:
                          type: string
                          description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                          enum:
                          - PUBLIC
                          - PRIVATE
                          - SUBSCRIBERS
                  catalogApi:
                    type: string
                  planId:
                    type: string
                    readOnly: true
                  planDocLevel:
                    type: string
                    description: Documentation level of the documentation.
                    enum:
                    - PLAN
                    - API
                    - CUSTOM
                    readOnly: true
                  apiIntegrationId:
                    type: string
                    description: Reference to the API if the documentation is bound to an API object.
                    readOnly: true
                  custom:
                    type: boolean
              example:
                id: 66f3c2be7903d41208214a7d
                order: 0
                version: '2.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                planId: 66f174095cc1da3963b9a1d7
                planDocLevel: PLAN
                apiIntegrationId: cl4z2nr4p8
        '401':
          description: 'Unauthorized for operation: getDocOfApiByIntegrationIdAndPlanId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
    delete:
      tags:
      - Plans
      summary: Delete an API level documentation from a plan
      description: Delete a specific API level documentation by its ID from the plan. This endpoint allows you to remove a documentation version that is associated with the plan and API.
      operationId: deleteApiLevelDocumentationByPlanId
      parameters:
      - name: id
        in: path
        description: The id of the plan from which the API documentation will be deleted.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 6268ec80a098ed05f047f278
      - name: docId
        in: path
        description: The id of the API documentation to be deleted.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 66f174095cc1da3963b9a1d7
      - name: integrationId
        in: path
        description: The id of the API integration associated with the documentation.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: cl4z2nr4p8
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
      responses:
        '204':
          description: 'No Content: Successfully deleted the API level documentation.'
          content:
            application/json:
              schema:
                type: string
              examples:
                Success:
                  description: Confirmation message when the API level documentation is successfully deleted.
                  value: API level documentation deleted successfully
        '401':
          description: 'Unauthorized for operation: deleteApiLevelDocumentationByPlanId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
        '404':
          description: 'Not Found: The requested plan or API documentation does not exist.'
          content:
            application/json:
              schema:
                type: string
              examples:
                NotFound:
                  description: Error message when the plan or API documentation with the given ID is not found.
                  value: Plan or API Documentation not found
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
    patch:
      tags:
      - Plans
      summary: Patch the api-level doc
      description: The supported operation is replace, and the supported paths are url, version, name
      operationId: patchDocByPlanIdAndApiIntegrationId_1
      parameters:
      - name: id
        in: path
        description: The plan id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: integrationId
        in: path
        description: The API integrationId
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: docId
        in: path
        description: The documentation id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      requestBody:
        description: 'Request body for operation: patchDocByPlanIdAndApiIntegrationId_1.'
        content:
          application/json:
            schema:
              type: array
              description: The patch body
              items:
                description: Patch object for JSON Patch
                properties:
                  op:
                    type: string
                    description: Supported patch operations
                    enum:
                    - replace
                  path:
                    type: string
                    description: Path to the field to be patched
                  value:
                    type: string
                    description: Value to be patched
            examples:
              Patch Example:
                description: Example of a patch operation to update the documentation name.
                value:
                - op: replace
                  path: /name
                  value: new doc name
        required: true
      responses:
        '200':
          description: The updated documentation
          content:
            application/json:
              schema:
                description: The documentation version for a plan.
                properties:
                  id:
                    type: string
                  order:
                    type: integer
                    format: int32
                    description: The order of the documentation in the list of documentation for the plan.
                  version:
                    type: string
                    description: The version of the documentation.
                  status:
                    type: array
                    description: The status of the documentation.
                    items:
                      type: string
                      description: The status of the documentation.
                  active:
                    type: boolean
                    description: Flag to indicate if the documentation is active.
                  visible:
                    type: boolean
                    description: The visibility of the documentation.
                  retrievalType:
                    type: string
                    description: The retrieval type of the documentation.
                    enum:
                    - MANUAL
                    - GATEWAY
                    - CICD
                    - CATALOG
                  url:
                    type: string
                    description: The URL of the documentation.
                  name:
                    type: string
                    description: The name of the documentation.
                  synced:
                    type: string
                    format: date-time
                    description: Timestamp of the last time the documentation was synchronized.
                  sdks:
                    type: array
                    description: List of SDKs associated with this documentation version.
                    items:
                      description: SDK information for a documentation version.
                      properties:
                        language:
                          type: string
                          description: The programming language of the SDK.
                        downloadUrl:
                          type: string
                          description: The download URL of the SDK.
                        visibility:
                          type: string
                          description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                          enum:
                          - PUBLIC
                          - PRIVATE
                          - SUBSCRIBERS
                  catalogApi:
                    type: string
                  planId:
                    type: string
                    readOnly: true
                  planDocLevel:
                    type: string
                    description: Documentation level of the documentation.
                    enum:
                    - PLAN
                    - API
                    - CUSTOM
                    readOnly: true
                  apiIntegrationId:
                    type: string
                    description: Reference to the API if the documentation is bound to an API object.
                    readOnly: true
                  custom:
                    type: boolean
              example:
                id: 66f3c2be7903d41208214a7d
                order: 0
                version: '2.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                planId: 66f174095cc1da3963b9a1d7
                planDocLevel: PLAN
                apiIntegrationId: cl4z2nr4p8
        '401':
          description: 'Unauthorized for operation: patchDocByPlanIdAndApiIntegrationId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
  /api/plans/apis/{integrationId}/docs/{docId}:
    get:
      tags:
      - Plans
      summary: Get the api-level doc of all apis specified by the API integrationId
      description: This endpoint will return the api-level doc of the specified api across all plans
      operationId: getDocOfApiByIntegrationId_1
      parameters:
      - name: integrationId
        in: path
        description: The API integrationId
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: docId
        in: path
        description: The documentation id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      responses:
        '200':
          description: The specified documentation for the specified APIs across all plans
          content:
            application/json:
              schema:
                description: The documentation version for a plan.
                properties:
                  id:
                    type: string
                  order:
                    type: integer
                    format: int32
                    description: The order of the documentation in the list of documentation for the plan.
                  version:
                    type: string
                    description: The version of the documentation.
                  status:
                    type: array
                    description: The status of the documentation.
                    items:
                      type: string
                      description: The status of the documentation.
                  active:
                    type: boolean
                    description: Flag to indicate if the documentation is active.
                  visible:
                    type: boolean
                    description: The visibility of the documentation.
                  retrievalType:
                    type: string
                    description: The retrieval type of the documentation.
                    enum:
                    - MANUAL
                    - GATEWAY
                    - CICD
                    - CATALOG
                  url:
                    type: string
                    description: The URL of the documentation.
                  name:
                    type: string
                    description: The name of the documentation.
                  synced:
                    type: string
                    format: date-time
                    description: Timestamp of the last time the documentation was synchronized.
                  sdks:
                    type: array
                    description: List of SDKs associated with this documentation version.
                    items:
                      description: SDK information for a documentation version.
                      properties:
                        language:
                          type: string
                          description: The programming language of the SDK.
                        downloadUrl:
                          type: string
                          description: The download URL of the SDK.
                        visibility:
                          type: string
                          description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                          enum:
                          - PUBLIC
                          - PRIVATE
                          - SUBSCRIBERS
                  catalogApi:
                    type: string
                  planId:
                    type: string
                    readOnly: true
                  planDocLevel:
                    type: string
                    description: Documentation level of the documentation.
                    enum:
                    - PLAN
                    - API
                    - CUSTOM
                    readOnly: true
                  apiIntegrationId:
                    type: string
                    description: Reference to the API if the documentation is bound to an API object.
                    readOnly: true
                  custom:
                    type: boolean
              example:
                id: 66f3c2be7903d41208214a7d
                order: 0
                version: '2.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                planId: 66f174095cc1da3963b9a1d7
                planDocLevel: PLAN
                apiIntegrationId: cl4z2nr4p8
        '401':
          description: 'Unauthorized for operation: getDocOfApiByIntegrationId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
    delete:
      tags:
      - Plans
      summary: Delete an api level documentation from a plan
      description: Deletes an api-level documentation entry from the plans containing the specified API.
      operationId: deleteApiLevelDocumentation
      parameters:
      - name: docId
        in: path
        description: The id of the API documentation to be deleted.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 66f174095cc1da3963b9a1d7
      - name: integrationId
        in: path
        description: The id of the API integration associated with the documentation.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: cl4z2nr4p8
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
      responses:
        '204':
          description: 'No Content: Successfully deleted the API level documentation.'
          content:
            application/json:
              schema:
                type: string
              examples:
                Success:
                  description: Confirmation message when the API level documentation is successfully deleted.
                  value: API level documentation deleted successfully
        '401':
          description: 'Unauthorized for operation: deleteApiLevelDocumentation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
        '404':
          description: 'Not Found: The requested plan or API documentation does not exist.'
          content:
            application/json:
              schema:
                type: string
              examples:
                NotFound:
                  description: Error message when the plan or API documentation with the given ID is not found.
                  value: Plan or API Documentation not found
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
    patch:
      tags:
      - Plans
      summary: Patch the api-level doc
      description: The supported operation is replace, and the supported paths are url, version, name
      operationId: patchDocByApiIntegrationId_1
      parameters:
      - name: integrationId
        in: path
        description: The API integrationId
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: docId
        in: path
        description: The documentation id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
          - '2023-01-01'
      requestBody:
        description: 'Request body for operation: patchDocByApiIntegrationId_1.'
        content:
          application/json:
            schema:
              type: array
              description: The patch body
              items:
                description: Patch object for JSON Patch
                properties:
                  op:
                    type: string
                    description: Supported patch operations
                    enum:
                    - replace
                  path:
                    type: string
                    description: Path to the field to be patched
                  value:
                    type: string
                    description: Value to be patched
            examples:
              Patch Example:
                description: Example of a patch operation to update the documentation name.
                value:
                - op: replace
                  path: /name
                  value: new doc name
        required: true
      responses:
        '200':
          description: The updated documentation
          content:
            application/json:
              schema:
                description: The documentation version for a plan.
                properties:
                  id:
                    type: string
                  order:
                    type: integer
                    format: int32
                    description: The order of the documentation in the list of documentation for the plan.
                  version:
                    type: string
                    description: The version of the documentation.
                  status:
                    type: array
                    description: The status of the documentation.
                    items:
                      type: string
                      description: The status of the documentation.
                  active:
                    type: boolean
                    description: Flag to indicate if the documentation is active.
                  visible:
                    type: boolean
                    description: The visibility of the documentation.
                  retrievalType:
                    type: string
                    description: The retrieval type of the documentation.
                    enum:
                    - MANUAL
                    - GATEWAY
                    - CICD
                    - CATALOG
                  url:
                    type: string
                    description: The URL of the documentation.
                  name:
                    type: string
                    description: The name of the documentation.
                  synced:
                    type: string
                    format: date-time
                    description: Timestamp of the last time the documentation was synchronized.
                  sdks:
                    type: array
                    description: List of SDKs associated with this documentation version.
                    items:
                      description: SDK information for a documentation version.
                      properties:
                        language:
                          type: string
                          description: The programming language of the SDK.
                        downloadUrl:
                          type: string
                          description: The download URL of the SDK.
                        visibility:
                          type: string
                          description: The visibility of the SDK (PUBLIC, PRIVATE, SUBSCRIBERS).
                          enum:
                          - PUBLIC
                          - PRIVATE
                          - SUBSCRIBERS
                  catalogApi:
                    type: string
                  planId:
                    type: string
                    readOnly: true
                  planDocLevel:
                    type: string
                    description: Documentation level of the documentation.
                    enum:
                    - PLAN
                    - API
                    - CUSTOM
                    readOnly: true
                  apiIntegrationId:
                    type: string
                    description: Reference to the API if the documentation is bound to an API object.
                    readOnly: true
                  custom:
                    type: boolean
              example:
                id: 66f3c2be7903d41208214a7d
                order: 0
                version: '2.0'
                status: []
                active: true
                visible: true
                retrievalType: GATEWAY
                url: https://apiable.s3.eu-central-1.amazonaws.com/public/dev/amazonGatewayDocumentation.json
                name: Jokes (Cognito) - prod-202481-v-1.0.json
                planId: 66f174095cc1da3963b9a1d7
                planDocLevel: PLAN
                apiIntegrationId: cl4z2nr4p8
        '401':
          description: 'Unauthorized for operation: patchDocByApiIntegrationId'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: '401'
      security:
      - oauth-cc:
        - apiable/platform
        - apiable/cicd
  /api/plans:
    get:
      tags:
      - Plans
      summary: Read Plans
      description: List all plans on the platform that match the pagination and search criteria.
      operationId: findAllPlans
      parameters:
      - name: page
        in: query
        description: The page number of the plans to be returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 0
      - name: size
        in: query
        description: The number of plans to be returned per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      - name: sort
        in: query
        description: The sorting criteria for the plans. The sorting criteria is a list of fields separated by commas.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        example:
        - name:DESC
      - name: search
        in: query
        description: The search criteria for the plans.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        example:
        - product.id.match=60950a160d4e8b26d3803d40
        - name.like=example
      - name: X-API-Version
        in: header
        description: API version to use.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - '2024-09-25'
      responses:
        '200':
          description: 'OK: Successfully retrieved the list of plans.'
          content:
            application/json:
              schema:
                description: Response object for paginated plan results
                properties:
                  content:
                    type: array
                    items:
                      description: Plan object. A plan is a set of APIs and properties that can be subscribed to by users.
                      properties:
                        version:
                          type: integer
                          format: int32
                        created:
                          type: string
                          format: date-time
                        updated:
                          type: string
                          format: date-time
                        id:
                          type: string
                        ancestorPlanId:
                          type: string
                        approvalGroupIdRef:
                          type: string
                          description: The approval group ID reference for the plan.
                        apis:
                          type: array
                          description: List of APIs included in the plan.
                          items:
                            description: API item
                            discriminator:
                              propertyName: type
                            properties:
                              name:
                                type: string
                              resources:
                                type: array
                                items:
                                  description: The Resource schema is used to represent a resource in the API gateway. It includes details such as the path, method, and the integration ID.
                                  properties:
                                    path:
                                      type: string
                                    method:
                                      type: string
                                    integrationId:
                                      type: string
                              type:
                                type: string
                                enum:
                                - KONG
                                - AMAZON
                                - AMAZONEE
                                - AZURE
                                - APIGEE
                              url:
                                type: string
                              integrationId:
                                type: string
                              documentations:
                                type: array
                                items:
                                  description: The documentation version for a plan.
                                  properties:
                                    id:
                                      type: string
                                    order:
                                      type: integer
                                      format: int32
                                      description: The order of the documentation in the list of documentation for the plan.
                                    version:
                                      type: string
                                      description: The version of the documentation.
                                    status:
                                      type: array
                                      description: The status of the documentation.
                                      items:
                                        type: string
                                        description: The status of the documentation.
                                    active:
                                      type: boolean
                                      description: Flag to indicate if the documentation is active.
[...]
