{
  "openapi": "3.1.0",
  "info": {
    "title": " Apiable Platform API",
    "description": "\n## Introduction\n\nThe Apiable Platform API is a RESTful API that allows you to manage your portal, teams, users, and subscriptions. The API is designed to be simple and easy to use, with a focus on security and performance. \nThe Platform API is designed to be used by developers to build custom integrations and applications that interact with the Apiable Portal. The included endpoints allow you to manage, including, but not limited to, your portal products, plans, teams, users, and subscriptions.\n\n## Authentication\nThe authentication is done using a Bearer token, that must be included in all requests.\n \n## Errors\nThe API uses standard HTTP status codes to indicate the success or failure of a request. In case of an error, the response body will contain a JSON object with an error message.\n\n## Rate Limiting\n\n## Pagination and Filtering\nCalls that return multiple items will be paginated to 10 items by default. You can specify further pages with the `page` parameter. For most such resources, you can also set a custom page size up to 100 with the `size` parameter. Requests that return multiple items also include `search` parameter to filter the results.\n\n## Versioning\nThe API is versioned using the `X-API-Version` header. The API responses always with latest version, if not set otherwise.\n\n\n## Glossary of Terms\n### Product\nThe product object represents a high-level abstraction of your API products. It is used to group plans together and to provide a high-level overview of the product. A product can have multiple plans associated with it. Products are typically used to group plans together that are related to a specific API or service.\n\n### Plan\nThe plan object represents a subscription plan that can be associated with a product. A plan can have multiple APIs associated with it. Plans can be free or paid, and can have different pricing models.\n\n### Subscription \nThe subscription object represents a subscription to a plan. Subscriptions, both paid and free, are associated with a team, and a single user as the primary owner of the subscription. The owner of the subscription is considered to be the one responsible for the billing of the subscription.\nDepending on the permissions within a team, API key and billing information can be viewed managed by not just the subscription owner, but other members of the team as well.\n\n### Team\nThe team object represents a group of users that work together. A team can have multiple members and can be associated with a company. Teams are a way to group users together and manage permissions and roles within a group.\n\n### Company \nThe company object represents a group of teams. A company can have multiple teams associated with it. Companies are a way to manage multiple teams and users together. Companies do not have roles and permissions, nor are subscriptions shared between different teams under the same company.\n\n### User\nThe user object represents a user of the platform. A user can be a member of one or more teams and can have different roles and permissions within each team. Users can be invited to join a team, and can be assigned different roles and permissions within a team.\n\n### Invitation\nThe invitation object represents an invitation to join a team. Invitations are typically sent by team members to new users, and can be accepted or ignored by the invitee. Invitations can be sent to users that are not yet registered on the platform, and can be used to invite new users to join the platform and team of the inviter.\n\n### Webhook\nThe webhook object represents a webhook that can be used to receive notifications about events that occur on the platform. Webhooks can be used to trigger actions in external systems based on events that occur on the platform. Webhooks can be configured to send notifications for specific events, such as when a new subscription is created, or when a subscription is updated.\n\n\n### API Key Tutorial\n\nTo interact with the API, you will need to obtain an JWT Access Token. Follow these steps to obtain and use the Token:\n\n1. **Navigate to the Subscription Details Page**: Log in to your account and go to the Subscription Details page.\n2. **Locate the client_id/client_secret**: You will find it in the subscription details. The client_id and client_secret are unique to your account and will allow you to authenticate requests to the API.\n3. **Prefill the client_id and client_secret**: If you click the eye icon next to the client_id or client_secret, it will be revealed and automatically prefilled when you proceed to the documentation section.\n4. **Using the JWT Token**: Once you have your obtained your JWT token, you will need to include it in your request headers as follows:\n\n```\n'Authorization': 'Bearer YOUR_JWT_TOKEN_HERE'\n```\n\nMake sure to replace `YOUR_JWT_TOKEN_HERE` with the actual JWT token you obtained.",
    "contact": {
      "name": "Apiable Team",
      "url": "https://apiable.io",
      "email": "support@apiable.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://developer.apiable.io"
    }
  ],
  "tags": [
    {
      "name": "Companies",
      "description": "Companies, similar to teams are a way to group users together. Companies are a way to manage multiple teams and users together. An example being a company that has teams for different departments, such as backend and frontend development teams.Multiple teams can be part of the same company, and unlike teams, companies do not have roles and permissions, nor are subscriptions shared between different teams under the same company."
    },
    {
      "name": "Custom Properties",
      "description": "Custom properties are additional fields that can be used to store extra information about the subscription."
    },
    {
      "name": "Docs",
      "description": "Docs are a way to store documentation in the system. The documentation can be used to store API and Plan level API documentations in the system.A documentation entry is always associated with either plan directly, or with an API, which is associated with a plan.The only exception to this, is the Full API Reference, which is a special case, and is not associated with any plan. But with the portal itself."
    },
    {
      "name": "Files",
      "description": "Files are a way to store files in the system. All uploaded files are stored in an S3 bucket."
    },
    {
      "name": "Invitations",
      "description": "Invitations are a way to invite new users to join the platform and team of the inviter. Invitations are typically sent by team members to new users, and can be accepted or ignored by the invitee."
    },
    {
      "name": "Plans",
      "description": "Plans are a way to group APIs and their documentation."
    },
    {
      "name": "Products",
      "description": "Products are a high-level abstraction of your API products, they are used to group plans together and to provide a high level overview of the product."
    },
    {
      "name": "Serverinfo",
      "description": "Serverinfo is a way to get information about the server."
    },
    {
      "name": "Subscriptions",
      "description": "Operations related to managing subscriptions, including retrieval, update, approval, rejection, and refreshing the status of connected monetization. For security reasons, API keys, secrets, and other sensitive information included in the subscriptions are not returned in the response."
    },
    {
      "name": "Teams",
      "description": "Teams are a way to group users together. Teams are used to manage team-based access to subscriptions on the platform with internal roles and permissions. Teams typically consist of one to a handful of users."
    },
    {
      "name": "Users",
      "description": "Users are the people who use the platform. Users can be invited to join the platform by an admin or they can sign up themselves. Users can be assigned to teams and have roles and permissions within those teams. Each user has the possibility to be part of one or more teams, each with their separate roles, permissions and subscriptions."
    },
    {
      "name": "Webhooks",
      "description": "# How Webhooks Work\n\nWebhooks are a way for services to communicate with each other in real time. When an event occurs, the Webhook sends an HTTP POST request to the URL that you've configured. The Webhook itself is unaware of any specific authorization mechanisms like the Apiable Lambda authorizer, and the Webhook URL can be any endpoint capable of receiving HTTP POST requests.\n\nOptionally, you can include custom headers in the request. These headers will be appended automatically by the Webhook to the HTTP POST request, adding any additional information required for the endpoint.\n\n ## Testing a Webhook before posting\n\nYou can test a Webhook by sending a POST request to the Webhook URL manually. Here’s an example curl command that simulates the Webhook sending a POST request:\n\n```bash\ncurl -X POST https:/apiable.example.io/webhook \\\n -H \"Content-Type: application/json\" \\\n -H \"api-key: MY-API-KEY\" \\\n -H \"Custom-Header-1: value1\" \\\n -H \"Custom-Header-2: value2\" \\\n -d '{\n   \"id\": \"67040bcb1eb964694d999a68\",\n   \"events\": [\n     \"SUBSCRIPTION_CREATED\"\n   ],\n   \"whsec\": \"whsec_CoX***pc=\"\n }'\n```\n\n## Example Webhook Configuration\n\nIn the following example, a Webhook is configured to send an HTTP POST request to a URL upon the occurrence of a `SUBSCRIPTION_CREATED` event. The parameters \"whsec\" and \"headers\" are optional.\n\n```json\n{\n  \"id\": \"67040bcb1eb964694d999a68\",\n  \"events\": [\n    \"SUBSCRIPTION_CREATED\"\n  ],\n  \"url\": \"https:/apiable.example.io/webhook\",\n  \"headers\": {\n    \"api-key\": \"MY-API-KEY\",\n    \"Custom-Header-1\": \"value1\",\n    \"Custom-Header-2\": \"value2\"\n  }\n}\n```\n       \n    "
    }
  ],
  "paths": {
    "/api/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve a webhook by ID",
        "description": "Retrieve a specific webhook by its ID. This will return the webhook configuration including the events it is subscribed to, the URL, and the secret key.",
        "operationId": "getWebhookById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the webhook to retrieve.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "67040bcb1eb964694d999a68"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "API version to use.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "2024-09-25"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: Successfully retrieved the webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The webhook configuration",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "description": "The events the webhook is listening to",
                      "items": {
                        "type": "string",
                        "description": "The events the webhook is listening to",
                        "enum": [
                          "SUBSCRIPTION_CREATED",
                          "SUBSCRIPTION_CANCELLED",
                          "SUBSCRIPTION_AUTH_CHANGED",
                          "SUBSCRIPTION_CHANGED",
                          "INVOICE_ATTENTION_REQUIRED"
                        ]
                      }
                    },
                    "url": {
                      "type": "string",
                      "description": "The url of the webhook"
                    },
                    "whsec": {
                      "type": "string",
                      "description": "The secret of the webhook"
                    },
                    "authorization": {
                      "type": "string",
                      "description": "The authorization header of the webhook"
                    },
                    "headers": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string",
                        "description": "The headers of the webhook"
                      },
                      "description": "The headers of the webhook"
                    }
                  }
                },
                "examples": {
                  "WebhookConf Example": {
                    "description": "Example of a webhook configuration.",
                    "value": {
                      "id": "66f6b0f0ea99a34963977e55",
                      "created": "2024-09-27T16:19:44.013",
                      "updated": "2024-09-27T16:19:44.013",
                      "name": "Webhook Example",
                      "url": "https://example.com/webhook",
                      "authType": "BASIC_AUTH",
                      "authUsername": "user",
                      "authPassword": "password",
                      "events": [
                        "SUBSCRIPTION_CREATED",
                        "SUBSCRIPTION_CANCELLED"
                      ],
                      "whsec": "whsec_1234567890abcdef",
                      "active": true,
                      "version": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized for operation: getWebhookById",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "string",
                      "example": "401"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found: The requested webhook does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "NotFound": {
                    "description": "Error message when the webhook with the given ID is not found.",
                    "value": "Webhook not found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth-cc": [
              "apiable/cicd",
              "apiable/platform"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update a webhook subscription by providing the URL to send the webhook to, the events to subscribe to.The webhook secret key (whsec) is optional. If not provided, a random key will be generated.\nThe possible event types `SUBSCRIPTION_CREATED` and `SUBSCRIPTION_CANCELLED` are sent when a subscription is created or cancelled, respectively.",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the webhook to be updated.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "67040bcb1eb964694d999a68"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "API version to use.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "2024-09-25"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "The expected request body for updating a webhook.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Webhook Configuration update request",
                "properties": {
                  "events": {
                    "type": "array",
                    "description": "The events to subscribe to",
                    "items": {
                      "type": "string",
                      "description": "The events to subscribe to",
                      "enum": [
                        "SUBSCRIPTION_CREATED",
                        "SUBSCRIPTION_CANCELLED",
                        "SUBSCRIPTION_AUTH_CHANGED",
                        "SUBSCRIPTION_CHANGED",
                        "INVOICE_ATTENTION_REQUIRED"
                      ]
                    }
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL to send the webhook to"
                  },
                  "whsec": {
                    "type": "string",
                    "description": "The webhook secret key"
                  },
                  "authorization": {
                    "type": "string",
                    "description": "The authorization header"
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "description": "The headers to send with the webhook"
                    },
                    "description": "The headers to send with the webhook"
                  }
                }
              },
              "examples": {
                "WebhookConfUpdate": {
                  "description": "WebhookConfUpdate",
                  "value": "\n{\n  \"url\": \"https://example.com/webhook\",\n  \"events\": [\n    \"SUBSCRIPTION_CREATED\",\n    \"SUBSCRIPTION_CANCELLED\"\n  ],\n  \"whsec\": \"whsec_1234567890abcdef\",\n}\n"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK: Successfully updated the webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The webhook configuration",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "description": "The events the webhook is listening to",
                      "items": {
                        "type": "string",
                        "description": "The events the webhook is listening to",
                        "enum": [
                          "SUBSCRIPTION_CREATED",
                          "SUBSCRIPTION_CANCELLED",
                          "SUBSCRIPTION_AUTH_CHANGED",
                          "SUBSCRIPTION_CHANGED",
                          "INVOICE_ATTENTION_REQUIRED"
                        ]
                      }
                    },
                    "url": {
                      "type": "string",
                      "description": "The url of the webhook"
                    },
                    "whsec": {
                      "type": "string",
                      "description": "The secret of the webhook"
                    },
                    "authorization": {
                      "type": "string",
                      "description": "The authorization header of the webhook"
                    },
                    "headers": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string",
                        "description": "The headers of the webhook"
                      },
                      "description": "The headers of the webhook"
                    }
                  }
                },
                "examples": {
                  "WebhookConf Example": {
                    "description": "Example of an updated webhook configuration.",
                    "value": {
                      "id": "66f6b0f0ea99a34963977e55",
                      "created": "2024-09-27T16:19:44.013",
                      "updated": "2024-09-27T16:19:44.013",
                      "name": "Webhook Example",
                      "url": "https://example.com/webhook",
                      "authType": "BASIC_AUTH",
                      "authUsername": "user",
                      "authPassword": "password",
                      "events": [
                        "SUBSCRIPTION_CREATED",
                        "SUBSCRIPTION_CANCELLED"
                      ],
                      "whsec": "whsec_1234567890abcdef",
                      "active": true,
                      "version": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized for operation: updateWebhook",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "string",
                      "example": "401"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found: The webhook to be updated does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "NotFound": {
                    "description": "Error message when the webhook with the given ID is not found.",
                    "value": "Webhook not found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth-cc": [
              "apiable/cicd",
              "apiable/platform"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Unregister a webhook",
        "description": "Unsubscribe from a webhook, record of the webhook will be deleted and deleted webhook will no longer receive events. Restoring a deleted webhook is not possible, instead you can create a new webhook with the same configuration.",
        "operationId": "unregisterWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the webhook to be unregistered.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "67040bcb1eb964694d999a68"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "API version to use.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "2024-09-25"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content: Successfully unregistered the webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Success": {
                    "description": "Confirmation message when the webhook is successfully unregistered.",
                    "value": "Webhook unregistered successfully"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized for operation: unregisterWebhook",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "string",
                      "example": "401"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found: The webhook to be unregistered doesn't exit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "NotFound": {
                    "description": "Error message when the webhook with the given ID is not found.",
                    "value": "Webhook not found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth-cc": [
              "apiable/cicd",
              "apiable/platform"
            ]
          }
        ]
      }
    },
    "/api/users/{id}/roles": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update User Roles",
        "description": "Update the roles of a user. The roles are used to define the permissions of the user within the platform. The roles are defined by the platform admin and can be assigned to users by the platform admin or team admins.",
        "operationId": "updateUserRoles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the user to be updated the team roles.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "6409edb91c6c14300fce1a3c"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "API version to use.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "2024-09-25"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of roles that need to be assigned to the user.",
          "content": {
            "application/json": {
              "schema": {
                "description": "The role and permissions that a user has in a team",
                "properties": {
                  "teamId": {
                    "type": "string"
                  },
                  "accessDetails": {
                    "description": "Access details and role that the invited user will have",
                    "properties": {
                      "roleName": {
                        "type": "string",
                        "enum": [
                          "ADMIN",
                          "READ_ONLY",
                          "RESTRICTED"
                        ]
                      },
                      "apiKeys": {
                        "type": "string",
                        "enum": [
                          "NONE",
                          "READ",
                          "FULL"
                        ]
                      },
                      "billing": {
                        "type": "string",
                        "enum": [
                          "NONE",
                          "READ",
                          "FULL"
                        ]
                      },
                      "teams": {
                        "type": "string",
                        "enum": [
                          "NONE",
                          "READ",
                          "FULL"
                        ]
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example roles": {
                  "description": "User roles.",
                  "value": "\n[\n  {\n    \"teamId\": \"66fbb93c4220cc7d307a5b0a\",\n    \"accessDetails\": {\n      \"roleName\": \"CUSTOM\"\n      \"apiKeys\": \"FULL\",\n      \"billing\": \"READ\",\n      \"teams\": \"NONE\"\n    }\n  }\n]\n"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The user object with the updated fields. The change of the roles will be reflected by the field 'roles' in user.metadata object.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "User object",
                  "properties": {
                    "version": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "id": {
                      "type": "string"
                    },
                    "providerId": {
                      "type": "string",
                      "description": "The provider id of the user"
                    },
                    "metadata": {
                      "description": "The metadata of the user",
                      "properties": {
                        "activeTeam": {
                          "description": "Unique identifier to an object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "agreesToReceiveEmail": {
                          "type": "boolean",
                          "description": "Flag to indicate if the user has given consent to receive emails"
                        },
                        "postRegistrationWizardComplete": {
                          "type": "boolean",
                          "description": "Flag to indicate if the user has completed the registration wizard"
                        },
                        "approval": {
                          "type": "string",
                          "description": "Flag to indicate if the user has been approved, if approval process is in place",
                          "enum": [
                            "PENDING",
                            "ACTIVE",
                            "REJECTED"
                          ]
                        },
                        "teams": {
                          "type": "array",
                          "description": "List of teams that the user is part of",
                          "items": {
                            "description": "Unique identifier to an object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "stripeCustomerId": {
                          "type": "string",
                          "description": "The monetization integration ID of the user"
                        },
                        "registrationEmailSent": {
                          "type": "boolean",
                          "description": "Flag to indicate if the user has been sent a registration email"
                        },
                        "teamRoles": {
                          "type": "array",
                          "description": "List of roles that the user has in the teams that they are part of.",
                          "items": {
                            "description": "The role and permissions that a user has in a team",
                            "properties": {
                              "teamId": {
                                "type": "string"
                              },
                              "accessDetails": {
                                "description": "Access details and role that the invited user will have",
                                "properties": {
                                  "roleName": {
                                    "type": "string",
                                    "enum": [
                                      "ADMIN",
                                      "READ_ONLY",
                                      "RESTRICTED"
                                    ]
                                  },
                                  "apiKeys": {
                                    "type": "string",
                                    "enum": [
                                      "NONE",
                                      "READ",
                                      "FULL"
                                    ]
                                  },
                                  "billing": {
                                    "type": "string",
                                    "enum": [
                                      "NONE",
                                      "READ",
                                      "FULL"
                                    ]
                                  },
                                  "teams": {
                                    "type": "string",
                                    "enum": [
                                      "NONE",
                                      "READ",
                                      "FULL"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        },
                        "registrationCustomProperties": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "description": "Registration custom properties"
                          },
                          "description": "Registration custom properties"
                        },
                        "developer": {
                          "type": "boolean"
                        }
                      }
                    },
                    "givenName": {
                      "type": "string",
                      "description": "The first or given name of the user"
                    },
                    "familyName": {
                      "type": "string",
                      "description": "The last or family name of the user"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email of the user"
                    },
                    "name": {
                      "type": "string",
                      "description": "The full name of the user, read only, constructed from the given and family name"
                    },
                    "active": {
                      "type": "boolean",
                      "description": "Flag to indicate if the user is active"
                    },
                    "company": {
                      "type": "string",
                      "description": "Name of the company the user is part of, by default it is the domain of the email"
                    }
                  }
                },
                "examples": {
                  "Example user": {
                    "description": "User object with updated roles.",
                    "value": {
                      "id": "6409edb91c6c14300fce1a3c",
                      "created": "2023-03-09T16:31:21.829",
                      "updated": "2023-09-25T14:45:54.602",
                      "providerId": "VVNFUjpkMTllMjE3ZS02NDI0LTExZWQtOTMwOS0wNjZmNDNjODhjYjI=",
                      "metadata": {
                        "activeTeam": {
                          "id": "6409edb91c6c14300fce1a3a"
                        },
                        "isDeveloper": false,
                        "agreesToReceiveEmail": false,
                        "postRegistrationWizardComplete": true,
                        "approval": "ACTIVE",
                        "registrationEmailSent": true,
                        "teamRoles": [
                          {
                            "teamId": "6409edb91c6c14300fce1a3a",
                            "accessDetails": {
                              "roleName": "ADMIN",
                              "apiKeys": "FULL",
                              "billing": "FULL",
                              "teams": "FULL"
                            }
                          }
                        ]
                      },
                      "givenName": "Alice",
                      "familyName": "Piable",
                      "email": "alice.piable@apiable.io",
                      "name": "Alice Piable",
                      "active": true,
                      "company": "Apiable",
                      "version": 32
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid roles or operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "BadRequest": {
                    "description": "Error message when the roles update is not allowed for the user.",
                    "value": "Invalid roles update"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized for operation: updateUserRoles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "string",
                      "example": "401"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found: The user to update roles does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "NotFound": {
                    "description": "Error message when the user to be updated is not found.",
                    "value": "User not found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth-cc": [
              "apiable/platform"
            ]
          }
        ]
      }
    },
    "/api/teams/{teamId}/users/{userId}": {
      "put": {
        "tags": [
          "Teams"
        ],
        "summary": "Assign user into a team",
        "description": "Assign a user to a team. To update the team object, use the dedicated endpoint to patch the desired values. To assign roles to the user, use the users endpoint. /users/{userId}/roles",
        "operationId": "assignUserToTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "ID of the team to be assigned the user to.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "6268ec80a098ed05f047f279"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "ID of the user to be assigned into the team",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "6268ec80a098ed05f047f278"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "API version to use.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "2024-09-25"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team object with the user assigned.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Team",
                  "properties": {
                    "version": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the team"
                    },
                    "users": {
                      "type": "array",
                      "description": "List of users in the team",
                      "items": {
                        "description": "Unique identifier to an object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "internal": {
                      "type": "boolean",
                      "description": "The internal status of the team"
                    },
                    "company": {
                      "description": "Unique identifier to an object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    },
                    "domains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "uniqueItems": true
                    },
                    "allowDomainJoining": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "Example team": {
                    "description": "Example output of a team object with the user assigned.",
                    "value": {
                      "id": "6268ec80a098ed05f047f279",
                      "created": "2022-04-27T07:10:56.86",
                      "updated": "2023-03-09T16:28:30.056",
                      "name": "Shire-Hobbits",
                      "users": [
                        {
                          "id": "6268ec80a098ed05f047f278"
                        }
                      ],
                      "internal": true,
                      "version": 5
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized for operation: assignUserToTeam",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "string",
                      "example": "401"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found: The team or user does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "NotFound": {
                    "description": "Error message when the team or user to be assigned is not found.",
                    "value": "Team or User not found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth-cc": [
              "apiable/platform"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "summary": "Remove user from team",
        "description": "Remove a user from a team. To update the team object, use the dedicated endpoint to patch the desired values. To remove roles from the user, use the users endpoint. /users/{userId}/roles",
        "operationId": "removeUserFromTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "ID of the team to be remove the user from.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "6268ec80a098ed05f047f279"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "ID of the user to be removed from the team",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "6268ec80a098ed05f047f278"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "API version to use.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "2024-09-25"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team object with the user removed.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Team",
                  "properties": {
                    "version": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the team"
                    },
                    "users": {
                      "type": "array",
                      "description": "List of users in the team",
                      "items": {
                        "description": "Unique identifier to an object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "internal": {
                      "type": "boolean",
                      "description": "The internal status of the team"
                    },
                    "company": {
                      "description": "Unique identifier to an object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    },
                    "domains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "uniqueItems": true
                    },
                    "allowDomainJoining": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "Example team": {
                    "description": "Example output of a team object with the user removed.",
                    "value": {
                      "id": "6268ec80a098ed05f047f279",
                      "created": "2022-04-27T07:10:56.86",
                      "updated": "2023-03-09T16:28:30.056",
                      "name": "Shire-Hobbits",
                      "users": [
                        {
                          "id": "6268ec80a098ed05f047f278"
                        }
                      ],
                      "internal": true,
                      "version": 5
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized for operation: removeUserFromTeam",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "string",
                      "example": "401"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found: The team or user does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "NotFound": {
                    "description": "Error message when the team or user to be removed is not found.",
                    "value": "Team or User not found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth-cc": [
              "apiable/platform"
            ]
          }
        ]
      }
    },
    "/api/subscriptions/{id}/custom-properties": {
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Read/Write subscription custom properties",
        "description": "Reads and writes custom properties of a subscription. Custom properties are key-value pairs that can be used to store additional information about the subscription. The custom properties are returned in the response when the subscription is retrieved. The custom properties can be updated by providing a list of custom properties in the request body.",
        "operationId": "updateCustomProperties",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "API version to use.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "2024-09-25"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Request body for operation: updateCustomProperties.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "description": "Custom Property",
                  "discriminator": {
                    "propertyName": "type"
                  },
                  "properties": {
                    "readOnly": {
                      "type": "boolean",
                      "description": "Whether the custom property is read only"
                    },
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of the custom property",
                      "enum": [
                        "STRING",
                        "NUMBER",
                        "BOOLEAN",
                        "TEXT",
                        "OPTIONS",
                        "MULTI_OPTIONS"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "description": "The description of the custom property"
                    },
                    "includeInSubscriptionWizard": {
                      "type": "boolean",
                      "description": "Whether the custom property is included in the subscription wizard"
                    },
                    "required": {
                      "type": "boolean",
                      "description": "Whether the custom property is required"
                    },
                    "display": {
                      "type": "string",
                      "description": "The display name of the custom property"
                    }
                  }
                }
              },
              "examples": {
                "Example custom property": {
                  "description": "Custom property object with key-value pair.",
                  "value": {
                    "display": "new display",
                    "type": "STRING",
                    "description": "string",
                    "readOnly": true,
                    "required": true,
                    "includeInSubscriptionWizard": true,
                    "value": "new value2"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK: Subscription updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Subscription object",
                  "properties": {
                    "version": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the subscription"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of the subscription",
                      "enum": [
                        "PENDING_PAYMENT",
                        "PAYMENT_FAILED",
                        "PENDING",
                        "ACTIVE",
                        "REJECTED",
                        "CANCELLED",
                        "EXPIRED",
                        "PENDING_CANCELLATION"
                      ]
                    },
                    "approvalEmailSent": {
                      "type": "boolean",
                      "description": "Flag to indicate if an email has been sent to the approval group for this subscription"
                    },
                    "plan": {
                      "description": "Unique identifier to an object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    },
                    "team": {
                      "description": "Unique identifier to an object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    },
                    "expires": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date the subscription will expire"
                    },
                    "integrationId": {
                      "type": "string",
                      "description": "Integration ID of the subscription in the API Gateway"
                    },
                    "auth": {
                      "description": "Authentication details for the subscription",
                      "discriminator": {
                        "propertyName": "type"
                      },
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "BASIC_API_KEY",
                            "INTERMEDIATE_JWT",
                            "INTERMEDIATE_CLIENT_CREDENTIAL",
                            "ADVANCED_CODE_FLOW",
                            "EVOLVED_CENTRALIZED_CLAIMS"
                          ]
                        },
                        "integrationId": {
                          "type": "string"
                        }
                      }
                    },
                    "lastAuth": {
                      "description": "Authentication details for the subscription",
                      "discriminator": {
                        "propertyName": "type"
                      },
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "BASIC_API_KEY",
                            "INTERMEDIATE_JWT",
                            "INTERMEDIATE_CLIENT_CREDENTIAL",
                            "ADVANCED_CODE_FLOW",
                            "EVOLVED_CENTRALIZED_CLAIMS"
                          ]
                        },
                        "integrationId": {
                          "type": "string"
                        }
                      }
                    },
                    "cancelled": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date the subscription was marked as cancelled"
                    },
                    "checkoutSession": {
                      "type": "string",
                      "description": "Checkout session ID for the subscription, only used when the subscription is created through the checkout"
                    },
                    "stripeSubscriptionId": {
                      "type": "string",
                      "description": "Integration ID of the subscription in the Monetization service provider"
                    },
                    "priceIds": {
                      "type": "array",
                      "description": "The monetization service price IDs of the subscription",
                      "items": {
                        "type": "string",
                        "description": "The monetization service price IDs of the subscription"
                      }
                    },
                    "usageMeter": {
                      "type": "string",
                      "description": "The monetization service usage meter ID of the subscription"
                    },
                    "owner": {
                      "description": "Unique identifier to an object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    },
                    "email": {
                      "type": "string",
                      "description": "The email of the subscription owner"
                    },
                    "customProperties": {
                      "type": "array",
                      "description": "The custom properties of the subscription",
                      "items": {
                        "description": "Custom Property",
                        "discriminator": {
                          "propertyName": "type"
                        },
                        "properties": {
                          "readOnly": {
                            "type": "boolean",
                            "description": "Whether the custom property is read only"
                          },
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of the custom property",
                            "enum": [
                              "STRING",
                              "NUMBER",
                              "BOOLEAN",
                              "TEXT",
                              "OPTIONS",
                              "MULTI_OPTIONS"
                            ]
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the custom property"
                          },
                          "includeInSubscriptionWizard": {
                            "type": "boolean",
                            "description": "Whether the custom property is included in the subscription wizard"
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether the custom property is required"
                          },
                          "display": {
                            "type": "string",
                            "description": "The display name of the custom property"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example response": {
                    "description": "Updated subscription with all non-sensitive information.",
                    "value": {
                      "id": "66f693e5c8ec2f3e25b2b854",
                      "created": "2024-09-27T14:15:49.319",
                      "updated": "2024-09-27T14:45:08.03",
                      "name": "202409271415",
                      "status": "ACTIVE",
                      "approvalEmailSent": true,
                      "plan": {
                        "id": "66f174095cc1da3963b9a1d7"
                      },
                      "team": {
                        "id": "62691aa099a7d17e2cac7664"
                      },
                      "integrationId": "xxxxxxxxxx",
                      "auth": {
                        "type": "INTERMEDIATE_CLIENT_CREDENTIAL",
                        "id": "_apbl_###",
                        "integrationId": "xxxxxxxxxx",
                        "registrationClientUri": "https://dev.apiable.io/api/oauth2/oauth-token/_APBL_###",
                        "redirectUri": "https://dev.apiable.io",
                        "examples": {
                          "curl": "###"
                        }
                      },
                      "checkoutSession": "cs_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                      "stripeSubscriptionId": "sub_xxxxxxxxxxxxxxxxxxxxxxxx",
                      "priceIds": [
                        "price_xxxxxxxxxxxxxxxxxxxxxxxx"
                      ],
                      "owner": {
                        "id": "62691aa099a7d17e2cac7663"
                      },
                      "customProperties": [
                        {
                          "id": "66f69ac4ccc00456987e3df8",
                          "display": "new display",
                          "type": "STRING",
                          "description": "string",
                          "readOnly": true,
                          "required": true,
                          "includeInSubscriptionWizard": true,
                          "value": "new value2"
                        }
                      ],
                      "version": 5
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid update parameters or operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "BadRequest": {
                    "description": "Error message when the patch operation is not allowed for the subscription.",
                    "value": "Bad Request"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized for operation: updateCustomProperties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "string",
                      "example": "401"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found: The subscription to update does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "NotFound": {
                    "description": "Error message when the subscription to be updated is not found.",
                    "value": "Not Found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth-cc": [
              "apiable/platform"
            ]
          }
        ]
      }
    },
    "/api/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve Registered Webhooks",
        "description": "Retrieve all registered webhooks for the platform. The response will include all webhooks that are currently registered.",
        "operationId": "findAllWebhooks",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "API version to use.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "2024-09-25"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK: Successfully retrieved the list of registered webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "description": "The webhook configuration",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "events": {
                        "type": "array",
                        "description": "The events the webhook is listening to",
                        "items": {
                          "type": "string",
                          "description": "The events the webhook is listening to",
                          "enum": [
                            "SUBSCRIPTION_CREATED",
                            "SUBSCRIPTION_CANCELLED",
                            "SUBSCRIPTION_AUTH_CHANGED",
                            "SUBSCRIPTION_CHANGED",
                            "INVOICE_ATTENTION_REQUIRED"
                          ]
                        }
                      },
                      "url": {
                        "type": "string",
                        "description": "The url of the webhook"
                      },
                      "whsec": {
                        "type": "string",
                        "description": "The secret of the webhook"
                      },
                      "authorization": {
                        "type": "string",
                        "description": "The authorization header of the webhook"
                      },
                      "headers": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string",
                          "description": "The headers of the webhook"
                        },
                        "description": "The headers of the webhook"
                      }
                    }
                  }
                },
                "examples": {
                  "Example list of webhooks": {
                    "description": "List of all registered webhooks on the platform.",
                    "value": [
                      {
                        "id": "66f6b0f0ea99a34963977e55",
                        "created": "2024-09-27T16:19:44.013",
                        "updated": "2024-09-27T16:19:44.013",
                        "name": "Webhook Example",
                        "url": "https://example.com/webhook",
                        "authType": "BASIC_AUTH",
                        "authUsername": "user",
                        "authPassword": "password",
                        "events": [
                          "SUBSCRIPTION_CREATED",
                          "SUBSCRIPTION_CANCELLED"
                        ],
                        "whsec": "whsec_1234567890abcdef",
                        "active": true,
                        "version": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized for operation: findAllWebhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "string",
                      "example": "401"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth-cc": [
              "apiable/cicd",
              "apiable/platform"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Register a webhook",
        "description": "Subscribe to a webhook event by providing the URL to send the webhook to, the events to subscribe to.The webhook secret key (whsec) is optional. If not provided, a random key will be generated.\nThe possible event types `SUBSCRIPTION_CREATED` and `SUBSCRIPTION_CANCELLED` are sent when a subscription is created or cancelled, respectively.",
        "operationId": "registerWebhook",
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "API version to use.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "2024-09-25"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "The expected request body for registering a webhook.",
          "content": {
            "application/json": {
              "schema": {
                "description": "Webhook Configuration create request",
                "properties": {
                  "events": {
                    "type": "array",
                    "description": "The events to subscribe to",
                    "items": {
                      "type": "string",
                      "description": "The events to subscribe to",
                      "enum": [
                        "SUBSCRIPTION_CREATED",
                        "SUBSCRIPTION_CANCELLED",
                        "SUBSCRIPTION_AUTH_CHANGED",
                        "SUBSCRIPTION_CHANGED",
                        "INVOICE_ATTENTION_REQUIRED"
                      ]
                    }
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL to send the webhook to"
                  },
                  "whsec": {
                    "type": "string",
                    "description": "The webhook secret key"
                  },
                  "authorization": {
                    "type": "string",
                    "description": "The authorization header"
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "description": "The headers to send with the webhook"
                    },
                    "description": "The headers to send with the webhook"
                  }
                }
              },
              "examples": {
                "WebhookConf": {
                  "description": "Example of a webhook configuration to be registered.",
                  "value": "\n                {\n                    \"events\": [\"SUBSCRIPTION_CREATED\",\"SUBSCRIPTION_CANCELLED\"],\n                    \"url\": \"https://example.com/webhook\",\n                    \"whsec\": \"base64 encoded, prefixed with `whsec_` (Random. Between 24 bytes (192 bits) and 64 bytes (512 bits))\",\n                    \"authorization\": \"key/token - something we pass to a Authorization header e.g. 'Authorization: _bn6hgjds'\",\n                }\n            "
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created: Successfully registered the webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The webhook configuration",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "description": "The events the webhook is listening to",
                      "items": {
                        "type": "string",
                        "description": "The events the webhook is listening to",
                        "enum": [
                          "SUBSCRIPTION_CREATED",
                          "SUBSCRIPTION_CANCELLED",
                          "SUBSCRIPTION_AUTH_CHANGED",
                          "SUBSCRIPTION_CHANGED",
                          "INVOICE_ATTENTION_REQUIRED"
                        ]
                      }
                    },
                    "url": {
                      "type": "string",
                      "description": "The url of the webhook"
                    },
                    "whsec": {
                      "type": "string",
                      "description": "The secret of the webhook"
                    },
                    "authorization": {
                      "type": "string",
                      "description": "The authorization header of the webhook"
                    },
                    "headers": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string",
                        "description": "The headers of the webhook"
                      },
                      "description": "The headers of the webhook"
                    }
                  }
                },
                "examples": {
                  "WebhookConf Example": {
                    "description": "Example of a registered webhook configuration.",
                    "value": {
                      "id": "66f6b0f0ea99a34963977e55",
                      "created": "2024-09-27T16:19:44.013",
                      "updated": "2024-09-27T16:19:44.013",
                      "name": "Webhook Example",
                      "url": "https://example.com/webhook",
                      "authType": "BASIC_AUTH",
                      "authUsername": "user",
                      "authPassword": "password",
                      "events": [
                        "SUBSCRIPTION_CREATED",
                        "SUBSCRIPTION_CANCELLED"
                      ],
                      "whsec": "whsec_1234567890abcdef",
                      "active": true,
                      "version": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized for operation: registerWebhook",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "string",
                      "example": "401"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth-cc": [
              "apiable/cicd",
              "apiable/platform"
            ]
          }
        ]
      }
    },
    "/api/users/{id}/reject": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Reject User",
        "description": "Rejects a user from joining the platform when they have been invited or signed up, and approval process has been enabled on the platform. The approval process is controlled by the platform admin and must be enabled in the platform settings from the dashboard.",
        "operationId": "rejectUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the user to be rejected.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "6409edb91c6c14300fce1a3c"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "API version to use.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "2024-09-25"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user object with the updated fields. The change of the approval will be reflected by the field 'approval' in user.metadata object.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "User object",
                  "properties": {
                    "version": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "id": {
                      "type": "string"
                    },
                    "providerId": {
                      "type": "string",
                      "description": "The provider id of the user"
                    },
                    "metadata": {
                      "description": "The metadata of the user",
                      "properties": {
                        "activeTeam": {
                          "description": "Unique identifier to an object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "agreesToReceiveEmail": {
                          "type": "boolean",
                          "description": "Flag to indicate if the user has given consent to receive emails"
                        },
                        "postRegistrationWizardComplete": {
                          "type": "boolean",
                          "description": "Flag to indicate if the user has completed the registration wizard"
                        },
                        "approval": {
                          "type": "string",
                          "description": "Flag to indicate if the user has been approved, if approval process is in place",
                          "enum": [
                            "PENDING",
                            "ACTIVE",
                            "REJECTED"
                          ]
                        },
                        "teams": {
                          "type": "array",
                          "description": "List of teams that the user is part of",
                          "items": {
                            "description": "Unique identifier to an object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "stripeCustomerId": {
                          "type": "string",
                          "description": "The monetization integration ID of the user"
                        },
                        "registrationEmailSent": {
                          "type": "boolean",
                          "description": "Flag to indicate if the user has been sent a registration email"
                        },
                        "teamRoles": {
                          "type": "array",
                          "description": "List of roles that the user has in the teams that they are part of.",
                          "items": {
                            "description": "The role and permissions that a user has in a team",
                            "properties": {
                              "teamId": {
                                "type": "string"
                              },
                              "accessDetails": {
                                "description": "Access details and role that the invited user will have",
                                "properties": {
                                  "roleName": {
                                    "type": "string",
                                    "enum": [
                                      "ADMIN",
                                      "READ_ONLY",
                                      "RESTRICTED"
                                    ]
                                  },
                                  "apiKeys": {
                                    "type": "string",
                                    "enum": [
                                      "NONE",
                                      "READ",
                                      "FULL"
                                    ]
                                  },
                                  "billing": {
                                    "type": "string",
                                    "enum": [
                                      "NONE",
                                      "READ",
                                      "FULL"
                                    ]
                                  },
                                  "teams": {
                                    "type": "string",
                                    "enum": [
                                      "NONE",
                                      "READ",
                                      "FULL"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        },
                        "registrationCustomProperties": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "description": "Registration custom properties"
                          },
                          "description": "Registration custom properties"
                        },
                        "developer": {
                          "type": "boolean"
                        }
                      }
                    },
                    "givenName": {
                      "type": "string",
                      "description": "The first or given name of the user"
                    },
                    "familyName": {
                      "type": "string",
                      "description": "The last or family name of the user"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email of the user"
                    },
                    "name": {
                      "type": "string",
                      "description": "The full name of the user, read only, constructed from the given and family name"
                    },
                    "active": {
                      "type": "boolean",
                      "description": "Flag to indicate if the user is active"
                    },
                    "company": {
                      "type": "string",
                      "description": "Name of the company the user is part of, by default it is the domain of the email"
                    }
                  }
                },
                "examples": {
                  "Example user": {
                    "description": "User object after rejection.",
                    "value": {
                      "id": "6409edb91c6c14300fce1a3c",
                      "created": "2023-03-09T16:31:21.829",
                      "updated": "2023-09-25T14:45:54.602",
                      "providerId": "VVNFUjpkMTllMjE3ZS02NDI0LTExZWQtOTMwOS0wNjZmNDNjODhjYjI=",
                      "metadata": {
                        "activeTeam": {
                          "id": "6409edb91c6c14300fce1a3a"
                        },
                        "isDeveloper": false,
                        "agreesToReceiveEmail": false,
                        "postRegistrationWizardComplete": true,
                        "approval": "ACTIVE",
                        "registrationEmailSent": true,
                        "teamRoles": [
                          {
                            "teamId": "6409edb91c6c14300fce1a3a",
                            "accessDetails": {
                              "roleName": "ADMIN",
                              "apiKeys": "FULL",
                              "billing": "FULL",
                              "teams": "FULL"
                            }
                          }
                        ]
                      },
                      "givenName": "Alice",
                      "familyName": "Piable",
                      "email": "alice.piable@apiable.io",
                      "name": "Alice Piable",
                      "active": true,
                      "company": "Apiable",
                      "version": 32
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized for operation: rejectUser",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "status": {
                      "type": "string",
                      "example": "401"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found: The user to reject does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "NotFound": {
                    "description": "Error message when the user to be rejected is not found.",
                    "value": "User not found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth-cc": [
              "apiable/platform"
            ]
          }
        ]
      }
    },
    "/api/users/{id}/approve": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Approve User",
        "description": "Approve User to join the platform when they have been invited or signed up, and approval process has been enabled on the platform. The approval process is controlled by the platform admin and must be enabled in the platform settings from the dashboard.",
        "operationId": "approveUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the user to be approved.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "6409edb91c6c14300fce1a3c"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "API version to use.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "2024-09-25"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user object with the updated fields. The change of the approval will be reflected by the field 'approval' in user.metadata object.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "User object",
                  "properties": {
                    "version": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "id": {
                      "type": "string"
                    },
                    "providerId": {
                      "type": "string",
                      "description": "The provider id of the user"
                    },
                    "metadata": {
                      "description": "The metadata of the user",
                      "properties": {
                        "activeTeam": {
                          "description": "Unique identifier to an object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "agreesToReceiveEmail": {
                          "type": "boolean",
                          "description": "Flag to indicate if the user has given consent to receive emails"
                        },
                        "postRegistrationWizardComplete": {
                          "type": "boolean",
                          "description": "Flag to indicate if the user has completed the registration wizard"
                        },
                        "approval": {
                          "type": "string",
                          "description": "Flag to indicate if the user has been approved, if approval process is in place",
                          "enum": [
                            "PENDING",
                            "ACTIVE",
                            "REJECTED"
                          ]
                        },
                        "teams": {
                          "type": "array",
                          "description": "List of teams that the user is part of",
                          "items": {
                            "description": "Unique identifier to an object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "stripeCustomerId": {
                          "type": "string",
                          "description": "The monetization integration ID of the user"
                        },
                        "registrationEmailSent": {
                          "type": "boolean",
                          "description": "Flag to indicate if the user has been sent a registration email"
                        },
                        "teamRoles": {
                          "type": "array",
                          "description": "List of roles that the user has in the teams that they are part of.",
                          "items": {
                            "description": "The role and permissions that a user has in a team",
                            "properties": {
                              "teamId": {
                                "type": "string"
                              },
                              "accessDetails": {
                                "description": "Access details and role that the invited user will have",
                                "properties": {
                                  "roleName": {
                                    "type": "string",
                                    "enum": [
                                      "ADMIN",
                                      "READ_ONLY",
                                      "RESTRICTED"
                                    ]
                                  },
                                  "apiKeys": {
                                    "type": "string",
                                    "enum": [
                                      "NONE",
                                      "READ",
                                      "FULL"
                                    ]
                                  },
                                  "billing": {
                                    "type": "string",
                                    "enum": [
                                      "NONE",
                                      "READ",
                                      "FULL"
                                    ]
                                  },
                                  "teams": {
                                    "type": "string",
                                    "enum": [
                                      "NONE",
                                      "READ",
                                      "FULL"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        },
                        "registrationCustomProperties": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "description": "Registration custom properties"
                          },
                          "description": "Registration custom properties"
                        },
                        "developer": {
                          "type": "boolean"
                        }
                      }
                    },
                    "givenName": {
                      "type": "string",
                      "description": "The first or given name of the user"
                    },
                    "familyName": {
[...]
